bin/
obj/
publish/

TestResults/
results/
results_check/
results_pds_check/
results_probe/
results_report_option_probe/
results_precision_probe/
results_summary_probe/
risultati/
risultati_check/
risultati_pds_check/
tmp/
tmp_*.txt
tmp_*.json
logs/
.vscode/

*.user
*.suo
*.nupkg

.fake
